body {
  margin: 0;
}

.required::after {
  content: " *";
  color: red;
}

.update-location-modal {
  max-width: 800px;
}

.source-stats-modal {
  max-width: 800px;
}

.main-map {
  height: 600px;

  .marker-cluster-small {
    background-color: rgba(241, 211, 87, 0.6);
  }

  .marker-cluster-small div {
    background-color: rgba(240, 194, 12, 0.6);
  }
}

.modal-map {
  height: 350px;
  margin-bottom: 1rem;
}

.form-control.invalid {
  border: 1px solid #dc3545;
}

.chart-container {
  height: 550px;
}
